# Applying Advanced Transformations (Core)

#### Import Library

In [1]:
## standard imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
## Importing the OS and JSON Modules
import os,json

#### Loading dataframes

In [2]:
sh_info = pd.read_csv("data/superhero_infosuperhero_info.csv")

In [3]:
sh_powers = pd.read_csv("data/superhero_powers - superhero_powers.csv")

#### Reviewing Super Hero Info df

In [5]:
sh_info.head()

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}"
2,Abin Sur|DC Comics,Male,Ungaran,good,No Hair,blue,red,"{'Height': '185.0 cm', 'Weight': '90.0 kg'}"
3,Abomination|Marvel Comics,Male,Human / Radiation,bad,No Hair,green,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
4,Absorbing Man|Marvel Comics,Male,Human,bad,No Hair,blue,Unknown,"{'Height': '193.0 cm', 'Weight': '122.0 kg'}"

#### Focusing on Hero|Publisher Column

In [6]:
sh_info['Hero|Publisher']

0               A-Bomb|Marvel Comics
1       Abe Sapien|Dark Horse Comics
2                 Abin Sur|DC Comics
3          Abomination|Marvel Comics
4        Absorbing Man|Marvel Comics
                   ...
458       Yellowjacket|Marvel Comics
459    Yellowjacket II|Marvel Comics
460                Yoda|George Lucas
461                Zatanna|DC Comics
462                   Zoom|DC Comics
Name: Hero|Publisher, Length: 463, dtype: object

In [7]:
sh_info['Hero|Publisher'].str.split('|',expand=True)

                   0                  1
0             A-Bomb      Marvel Comics
1         Abe Sapien  Dark Horse Comics
2           Abin Sur          DC Comics
3        Abomination      Marvel Comics
4      Absorbing Man      Marvel Comics
..               ...                ...
458     Yellowjacket      Marvel Comics
459  Yellowjacket II      Marvel Comics
460             Yoda       George Lucas
461          Zatanna          DC Comics
462             Zoom          DC Comics

[463 rows x 2 columns]

#### Transforming Column

In [8]:
sh_info[['Hero','Publisher']] = sh_info['Hero|Publisher'].str.split('|',expand=True)
sh_info.head(2)

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Hero,Publisher
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",A-Bomb,Marvel Comics
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",Abe Sapien,Dark Horse Comics

#### Dropping Column

In [9]:
## drop the original column
sh_info = sh_info.drop(columns=['Hero|Publisher'])

In [10]:
sh_info.head()

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Hero,Publisher
0,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",A-Bomb,Marvel Comics
1,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",Abe Sapien,Dark Horse Comics
2,Male,Ungaran,good,No Hair,blue,red,"{'Height': '185.0 cm', 'Weight': '90.0 kg'}",Abin Sur,DC Comics
3,Male,Human / Radiation,bad,No Hair,green,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",Abomination,Marvel Comics
4,Male,Human,bad,No Hair,blue,Unknown,"{'Height': '193.0 cm', 'Weight': '122.0 kg'}",Absorbing Man,Marvel Comics

#### Focusing on Measurements Column

In [11]:
## examining a single value from the coordinates col
htwt = sh_info.loc[0,"Measurements"]
print(type(htwt))
htwt

<class 'str'>

"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"

#### Formatting Column

In [12]:
## use .str.replace to replace all single quotes
sh_info['Measurements'] = sh_info['Measurements'].str.replace("'",'"')
## Apply the json.loads to the full column
sh_info['Measurements'] = sh_info['Measurements'].apply(json.loads)
sh_info['Measurements'].head()

0    {'Height': '203.0 cm', 'Weight': '441.0 kg'}
1     {'Height': '191.0 cm', 'Weight': '65.0 kg'}
2     {'Height': '185.0 cm', 'Weight': '90.0 kg'}
3    {'Height': '203.0 cm', 'Weight': '441.0 kg'}
4    {'Height': '193.0 cm', 'Weight': '122.0 kg'}
Name: Measurements, dtype: object

#### Unpacking Dictionaries

In [13]:
ht_wt = sh_info['Measurements'].apply(pd.Series)
ht_wt

       Height    Weight
0    203.0 cm  441.0 kg
1    191.0 cm   65.0 kg
2    185.0 cm   90.0 kg
3    203.0 cm  441.0 kg
4    193.0 cm  122.0 kg
..        ...       ...
458  183.0 cm   83.0 kg
459  165.0 cm   52.0 kg
460   66.0 cm   17.0 kg
461  170.0 cm   57.0 kg
462  185.0 cm   81.0 kg

[463 rows x 2 columns]

#### Adding to DataFrame

In [14]:
sh_info =pd.concat((sh_info, ht_wt), axis = 1)
sh_info.head(2)

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Hero,Publisher,Height,Weight
0,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",A-Bomb,Marvel Comics,203.0 cm,441.0 kg
1,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",Abe Sapien,Dark Horse Comics,191.0 cm,65.0 kg

#### Dropping Column

In [15]:
sh_info = sh_info.drop(columns=['Measurements'])

In [16]:
sh_info.head(2)

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Hero,Publisher,Height,Weight
0,Male,Human,good,No Hair,yellow,Unknown,A-Bomb,Marvel Comics,203.0 cm,441.0 kg
1,Male,Icthyo Sapien,good,No Hair,blue,blue,Abe Sapien,Dark Horse Comics,191.0 cm,65.0 kg

#### Converting Height and Weight into int

In [17]:
#Rename column Hight to Height(kg)
sh_info = sh_info.rename(columns={'Height': 'Height(cm)'})
sh_info = sh_info.rename(columns={'Weight': 'Weight(kg)'})

In [18]:
#Removeing cm and kg from Height and Weight
sh_info['Height(cm)'] = sh_info['Height(cm)'].str.rstrip(' cm').astype(float)
sh_info['Weight(kg)'] = sh_info['Weight(kg)'].str.rstrip(' kg').astype(float)


#### Unique values

In [19]:
sh_info['Weight(kg)'].unique()

array([441.,  65.,  90., 122.,  88.,  81., 104., 108., 169., 173., 101.,
        68.,  57.,  54.,  83.,  86., 358., 135., 106., 146.,  63.,  98.,
       270.,  59.,  50., 126.,  67., 180.,  77.,  52.,  61.,  95.,  79.,
       133., 181., 216.,  71., 124., 155., 113.,  58.,  92.,  97.,  56.,
       230., 495.,  55.,  99., 158.,  74., 116., 170.,  70., 225., 817.,
        27.,  91., 178., 383., 171., 187., 132.,  89., 110., 412., 306.,
        80., 203.,  96.,  18.,  45., 167.,  16., 630., 268.,  62., 115.,
         4.,  48., 119., 207., 191.,  14.,  49., 855.,  72., 356., 324.,
       360., 288., 236.,  36., 140., 128., 338., 248., 125.,  85., 293.,
        69., 405.,  87., 234., 117., 320.,  38.,  25., 900., 310., 149.,
       315., 153., 437., 131.,  47., 443., 143.,  76., 105., 331., 214.,
        73., 334.,  41., 162., 473.,  51.,  17.])

In [20]:
sh_info['Height(cm)'].unique()

array([203. , 191. , 185. , 193. , 178. , 188. , 180. , 244. , 257. ,
       183. , 165. , 163. , 211. , 229. , 213. , 175. , 173. , 198. ,
       168. , 170. , 201. , 218. , 196. , 157. , 226. , 267. , 122. ,
       975. , 142. , 876. ,  62.5, 701. , 259. , 155. ,  71. , 287. ,
       234. ,  64. , 366. , 206. , 305. , 137. , 279. ,  15.2, 160. ,
        66. ])

#### Finding and removing duplicat rows

In [21]:
#find number of duplicat rows
sh_info.duplicated().sum()

0

#### Finding Missing Values

In [22]:
# Display the total number of missing values
print(f'There are {sh_info.isna().sum().sum()} missing values.')

There are 0 missing values.

#### Reviewing Super Hero Powers df

In [23]:
sh_powers = pd.read_csv("data/superhero_powers - superhero_powers.csv")

In [24]:
sh_powers.head()

    hero_names                                             Powers
0      3-D Man         Agility,Super Strength,Stamina,Super Speed
1       A-Bomb  Accelerated Healing,Durability,Longevity,Super...
2   Abe Sapien  Agility,Accelerated Healing,Cold Resistance,Du...
3     Abin Sur                                 Lantern Power Ring
4  Abomination  Accelerated Healing,Intelligence,Super Strengt...

In [25]:
for index, row in sh_powers.iterrows():
    # Access the 'Powers' column
    powers_string = row['Powers']
    
    # Split the string into a list using a delimiter (comma)
    powers_list = powers_string.split(',')
    
    # Assign the list back to the 'Powers' column
    sh_powers.at[index, 'Powers'] = powers_list

In [26]:
sh_powers.head()

    hero_names                                             Powers
0      3-D Man    [Agility, Super Strength, Stamina, Super Speed]
1       A-Bomb  [Accelerated Healing, Durability, Longevity, S...
2   Abe Sapien  [Agility, Accelerated Healing, Cold Resistance...
3     Abin Sur                               [Lantern Power Ring]
4  Abomination  [Accelerated Healing, Intelligence, Super Stre...

In [27]:
# Explode the 'Powers' column into separate columns using one-hot encoding
exploded_powers = pd.get_dummies(sh_powers['Powers'].apply(pd.Series).stack()).groupby(level=0).sum()

# Concatenate the exploded powers columns with the original DataFrame
sh_powers = pd.concat([sh_powers, exploded_powers], axis=1)

In [29]:
sh_powers.head()

,hero_names,Powers,Accelerated Healing,Adaptation,Agility,Animal Attributes,Animal Control,Animal Oriented Powers,Animation,Anti-Gravity,...,Vision - Thermal,Vision - X-Ray,Vitakinesis,Wallcrawling,Water Control,Weapon-based Powers,Weapons Master,Weather Control,Web Creation,Wind Control
0,3-D Man,"[Agility, Super Strength, Stamina, Super Speed]",0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,A-Bomb,"[Accelerated Healing, Durability, Longevity, S...",1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Abe Sapien,"[Agility, Accelerated Healing, Cold Resistance...",1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,Abin Sur,[Lantern Power Ring],0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Abomination,"[Accelerated Healing, Intelligence, Super Stre...",1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
sh_powers.head()

,hero_names,Powers,Accelerated Healing,Adaptation,Agility,Animal Attributes,Animal Control,Animal Oriented Powers,Animation,Anti-Gravity,...,Vision - Thermal,Vision - X-Ray,Vitakinesis,Wallcrawling,Water Control,Weapon-based Powers,Weapons Master,Weather Control,Web Creation,Wind Control
0,3-D Man,"[Agility, Super Strength, Stamina, Super Speed]",0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,A-Bomb,"[Accelerated Healing, Durability, Longevity, S...",1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Abe Sapien,"[Agility, Accelerated Healing, Cold Resistance...",1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,Abin Sur,[Lantern Power Ring],0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Abomination,"[Accelerated Healing, Intelligence, Super Stre...",1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [32]:
merged_df = pd.merge(sh_info, sh_powers, left_on='Hero', right_on='hero_names')

In [33]:
merged_df.head()

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Hero,Publisher,Height(cm),Weight(kg),...,Vision - Thermal,Vision - X-Ray,Vitakinesis,Wallcrawling,Water Control,Weapon-based Powers,Weapons Master,Weather Control,Web Creation,Wind Control
0,Male,Human,good,No Hair,yellow,Unknown,A-Bomb,Marvel Comics,203.0,441.0,...,0,0,0,0,0,0,0,0,0,0
1,Male,Icthyo Sapien,good,No Hair,blue,blue,Abe Sapien,Dark Horse Comics,191.0,65.0,...,0,0,0,0,0,0,1,0,0,0
2,Male,Ungaran,good,No Hair,blue,red,Abin Sur,DC Comics,185.0,90.0,...,0,0,0,0,0,0,0,0,0,0
3,Male,Human / Radiation,bad,No Hair,green,Unknown,Abomination,Marvel Comics,203.0,441.0,...,0,0,0,0,0,0,0,0,0,0
4,Male,Human,bad,No Hair,blue,Unknown,Absorbing Man,Marvel Comics,193.0,122.0,...,0,0,0,0,0,0,0,0,0,0

#### Validating success of merge

In [34]:
merged_df['Accelerated Healing']

0      1
1      1
2      0
3      1
4      0
      ..
458    0
459    0
460    0
461    0
462    0
Name: Accelerated Healing, Length: 463, dtype: uint8

* Merge succesfull A-Bomb has Accelerated Healing in 0 column

In [35]:
merged_df = merged_df.drop('hero_names', axis=1)

#### What is the avg weight for Heros with Super Speed

In [36]:
filtered_df = merged_df[merged_df['Super Speed'] == 1]

In [37]:
average_weight_superspeed = filtered_df['Weight(kg)'].mean()

In [38]:
print(average_weight_superspeed)

129.40404040404042

#### What is the avg weight for Heros without Super Speed

In [39]:
filtered_df = merged_df[merged_df['Super Speed'] == 0]

In [40]:
average_weight_slowpoke = filtered_df['Weight(kg)'].mean()

In [41]:
print(average_weight_slowpoke)

101.77358490566037

#### What is the average height by publishing comapny

In [42]:
publishers=merged_df['Publisher'].unique()

In [43]:
for publisher in publishers:
    average_height = merged_df.loc[merged_df['Publisher'] == publisher, 'Height(cm)'].mean()
    print(f"Average height for {publisher}: {average_height} cm")

Average height for Marvel Comics: 191.54612794612794 cm
Average height for Dark Horse Comics: 176.9090909090909 cm
Average height for DC Comics: 181.92391304347825 cm
Average height for Team Epic TV: 180.75 cm
Average height for George Lucas: 159.6 cm
Average height for Shueisha: 171.5 cm
Average height for Star Trek: 181.5 cm
Average height for Unknown: 178.0 cm
Average height for Image Comics: 211.0 cm